*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

html,
body {
  font-family: var(--font-sans);
  background-color: #ffffff;

  @media (prefers-color-scheme: dark) {
    background-color: #030712;
    color-scheme: dark;
    color: #f9fafb;
  }
}
